<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        
        <% if flash[:error_sesion] %>
            <div class="alert alert-danger" role="alert">
                <%= flash[:error_sesion] %>
            </div>
        <% end %>

        <%= form_with(url: 'sesiones') do |formulario|%>
        
                <a class="navbar-brand" href="#"> <i class="bi bi-cart2"></i> Carrito</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <%= link_to root_path, class: "nav-link" do %>
                        <i class="bi bi-house"></i> Home </a>
                        <% end %>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#"> <i class="bi bi-speedometer2"></i> Dashboard </a>
                        </li>
                        <li class="nav-item">
                        <%= link_to productos_path, class: "nav-link" do %>
                        <i class="bi bi-bag"></i> Productos </a>
                        <% end %>
                        </li>
                        <li class="nav-item">
                        <%= link_to categorias_path, class: "nav-link" do %>
                        <i class="bi bi-grid-3x3-gap"></i> Categorías </a>
                        <% end %>
                        </li>
                    </ul>
                    
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="true">Iniciar Sesión</a>
                    <li class="dropdown-menu">

                        <div class="form-floating">
                            <%= formulario.label :nombre_usuario, class: 'form-label', for:'floatingInput' %>
                            <%= formulario.text_field :nombre_usuario, class: 'form-control', id:'floatingInput', placeholder:'name@example.com' %>
                        </div>

                        <div class="form-floating">
                            
                            <%= formulario.label :password, class: 'form-label',  for:'floatingPassword' %>
                            <%= formulario.password_field :password, class: 'form-control', id:'floatingPassword', placeholder:'Password' %>
                        </div>

                        <div class="form-floating">
                            <hr class="dropdown-divider">
                        </div>

                        <div class="form-floating" style="text-align: center;">
                            <%= formulario.submit 'Iniciar sesión', class: 'btn btn-primary' %>
                        </div>
                    </li>
                </div>
        <% end %>  
    </div>
</nav>