<tbody>

    <tr>
      <th scope="row"><%= inquilino.id %></th>
      <td><%= link_to inquilino.nombre, inquilino_path(inquilino) %></td>
      <td><%= inquilino.apellido %></td>
      <td><%= inquilino.telefono %></td>
      <td><%= inquilino.rut %></td>
      <td><%= inquilino.oficina.codigo %></td>
      <td><%= link_to 'Editar', editar_inquilino_url(inquilino) %> | 
      <%= link_to 'Eliminar', 
      inquilino_path(inquilino),
      method: :delete, 
      data: { confirm: '¿Seguro que quieres borrarlo?' }%>
</td>


    </tr>
    
</tbody>