
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @inquilino.id %></li>
    <li class="list-group-item"><%= @inquilino.nombre %></li>
    <li class="list-group-item"><%= @inquilino.apellido %></li>
    <li class="list-group-item"><%= @inquilino.telefono %></li>
    <li class="list-group-item"><%= @inquilino.rut %></li>
    <li class="list-group-item"><%= @inquilino.oficina.codigo %></li>
  </ul>
</div>